   <div class="row">
    <div class="col-md-5 col-md-offset-2">
        <h4>Forecast by City</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="city">City desired:</label>
                <input type="text" ng-model='city' class="form-control" value="{{ city }}">
                <label for="dates">Number of days desired:</label>
                <input type="number" ng-model="day" class="form-control">
            </div>
            <input type="submit" class="btn btn-primary" value="Get Forecast" />
        </form>
    </div>
</div>